{% extends "base.html" %}
{% block content %}
<nav class="top-nav">
    <a class="logo" href="/" onclick="location.reload();return false;">⬡ Prism</a>
    <div class="tabs">
        <a class="tab active" href="/?tab=recommend">推荐</a>
        <a class="tab" href="/briefing">必看</a>
        <a class="tab" href="/?tab=follow">关注</a>
        <a class="tab" href="/pairwise/sources">来源</a>
        <a class="tab" href="/pairwise/liked">收藏</a>
    </div>
</nav>
<div id="pairwise-area">
{% if signal_a and signal_b %}
    {% include "partials/pair_cards.html" %}
{% else %}
    {% include "partials/pair_empty.html" %}
{% endif %}
</div>
{% endblock %}
